.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #282c34;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}
